{
# Do not auto redirect http to https in dev
    auto_https disable_redirects
}

# 1) HTTP/1.1 only (no TLS)
http://http1.localhost:8081 {
    root * "C:/Users/sahil/OneDrive/Desktop/421 progress/SER421_Group11_HTTP3/frontend/dist"
    file_server

    reverse_proxy /api/* http://localhost:8080
}

# 2) HTTPS site where browser will use HTTP/2
https://h2.localhost:8443 {
    tls internal
    root * "C:/Users/sahil/OneDrive/Desktop/421 progress/SER421_Group11_HTTP3/frontend/dist"
    file_server

    reverse_proxy /api/* http://localhost:8080
}

# 3) HTTPS site offering HTTP/2 and HTTP/3 (QUIC)
https://h3.localhost:9443 {
    tls internal
    root * "C:/Users/sahil/OneDrive/Desktop/421 progress/SER421_Group11_HTTP3/frontend/dist"
    file_server

    reverse_proxy /api/* http://localhost:8080
}
